
client.json
troubleshooting.txt
get-pip.py
test_cities.py
api_output_example.txt
dependencies_install.txt
streamkmeans_model.py
synthetic_events_simple.json
kmeans_model_simple.json
kmeans_model_individual_event_2.py
kmeans_model_individual_event_1.py
city_cluster_results copy.json
kmeans_model_individual_event.py
kmeans_model_simple.py
kmeans_model.py
single_event.json
synthetic_events.json
weather_subscriber_simple_kmeans.py
weather_subscriber.py

C:\Users\sveldman\Documents\GitHub\SV-Fall2023-Hackathon\retired/